<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<body>
	<h1>Locker application</h1>
	<br></br>
	<form action="#" th:action="@{/process}" th:object="${loginForm}" method="POST">
		<div>
			Please log in with your credentials.
			<br></br>
			<br></br>
			<div>
				<div>Email</div> <input type="text" th:field="*{email}" />
				<br></br>
				<br></br>
				<div>Password</div> <input type="text" th:field="*{password}" />
			</div>
			<br></br>
			<br></br>
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
		</div>
		<button style="height: 70px; width: 200px" type="submit">Login</button>
	</form>

</body>
</html>