<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">

<head th:replace="login :: header"></head>

<body>
	<div class="container">
		<h1 th:text="#{lockers.header}"></h1>
		<div class="row">
			<div class="col"><a class="btn btn-success" th:text="#{button.users}" href="/users"></a></div>
			<div class="col">
				<form id="formDelete" th:action="@{/delete}" th:method="DELETE">
					<button th:text="#{button.delete}" class="btn btn-danger"></button>
				</form>
			</div>
			<div class="col">
				<form id="formLogout" th:action="@{/logout}" method="POST">
					<button th:text="#{button.logout}" class="btn btn-primary"></button>
				</form>
			</div>
		</div>
		<div>
			<table class="table">
				<thead>
					<th th:text="#{table.header.locker-id}"></th>
					<th th:text="#{table.header.owner-email}"></th>
					<th th:text="#{table.header.action}"></th>
				</thead>
				<tbody>
					<tr th:each="locker : ${lockers}">
						<td class="idColumn" th:text="${locker.id}">Locker identifier</td>
						<td th:text=" ${locker.owner != null} ? ${locker.owner.email} : 'Free'">Email</td>
						<td class="table-success" th:if="${locker.owner == null}">
							<form action="#" th:action="@{/add}" method="POST">
								<button th:text="#{button.reserve}" style="height: 50px; width: 70px" type="submit" name="lockerId" th:value="${locker.id}"></button>
							</form>
						</td>
						<td th:class="${locker.owner != null and userEmail == locker.owner.email} ? 'table-danger' : ''" th:if="${locker.owner != null}">
							<form th:if="${userEmail == locker.owner.email}" th:action="@{/remove}" th:method="DELETE">
								<button th:text="#{button.remove}" name="lockerId" th:value="${locker.id}" style="height: 50px; width: 70px" type="submit"></button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>
