<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">

<head th:replace="login :: header"></head>

<body>
	<div class="container">
		<h1 th:text="#{lockers.header}"></h1>
		<div id="lockerHeaderButtonsRow" class="row">
			<div class="col"><a class="btn btn-success" th:text="#{button.users}" href="/users"></a></div>
			<div class="col">
				<button th:text="#{button.delete-account}" type="button" class="btn btn-warning" data-toggle="modal" data-target="#alertModal"></button>
				<div class="modal fade" id="alertModal">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title" th:text="#{alert.alert-text}"></h4>
							</div>

							<!-- Modal body -->
							<div class="modal-body" th:text="#{alert.account-delete}"></div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<form id="formDelete" th:action="@{/delete}" th:method="DELETE">
									<button th:text="#{button.delete-account}" class="btn btn-outline-warning"></button>
									<button th:text="#{button.cancel}" type="button" class="btn btn-primary" data-dismiss="modal"></button>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col">
				<form id="formLogout" th:action="@{/logout}" method="POST">
					<button th:text="#{button.logout}" class="btn btn-primary"></button>
				</form>
			</div>
		</div>
		<div>
			<table class="table table-striped">
				<thead>
					<th th:text="#{table.header.locker-id}"></th>
					<th th:text="#{table.header.owner-email}"></th>
					<th th:text="#{table.header.action}"></th>
				</thead>
				<tbody>
					<tr th:each="locker : ${lockers}">
						<td class="idColumn" th:text="${locker.id}">Locker identifier</td>
						<td th:text=" ${locker.ownerId != null} ? 'Taken' : 'Free'">Email</td>
						<td th:if="${locker.ownerId == null}">
							<form action="#" th:action="@{/add}" method="POST">
								<button class="btn btn-success" th:text="#{button.reserve}" type="submit" name="lockerId" th:value="${locker.id}"></button>
							</form>
						</td>
						<td th:if="${locker.ownerId != null and userEmail == locker.ownerId.email}">
							<form th:if="${userEmail == locker.ownerId.email}" th:action="@{/remove}" th:method="DELETE">
								<button class="btn btn-danger" th:text="#{button.remove}" name="lockerId" th:value="${locker.id}" type="submit"></button>
							</form>
						</td>
						<td th:if="${locker.ownerId != null and userEmail != locker.ownerId.email}">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>
