<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
      
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<h1>Locker application</h1>
	<br></br>
	<form th:action="@{/login}" method="POST">
		<div>
			Please log in with your credentials.
			<br></br>
			<br></br>
			<div>
				<div>Email</div> <input type="text" id="username" name="username" required="true"/>
				<br></br>
				<br></br>
				<div>Password</div> <input type="password" id="password" name="password" required="true"/>
			</div>
			<br></br>
			<br></br>
		</div>
		<button style="height: 50px; width: 100px" type="submit">Login</button>
		<br></br>
		<br></br>
		<br></br>
		<a href="/signup">Sign Up!</a>
	</form>
	<br></br>
	<div>
        <p th:if="${param.logout}" class="success">Successfully logged out!</p>
    	<p th:if="${param.error}" class="error">Error with email or password!</p>
   	    <p th:if="${notification != null}" th:text="${notification.message}" th:class="${notification.type}"></p>
	</div> 

</body>
</html>