<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
      
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<h1 th:text="#{login.header}"></h1>
	<br></br>
	<form th:action="@{/login}" method="POST">
		<div>
			<p th:text="#{login.description}"></p>
			<br></br>
			<br></br>
			<div>
				<div th:text="#{login.email.text}"></div> <input type="text" id="username" name="username" required="true"/>
				<br></br>
				<br></br>
				<div th:text="#{login.password.text}"></div> <input type="password" id="password" name="password" required="true"/>
			</div>
			<br></br>
			<br></br>
		</div>
		<button style="height: 50px; width: 100px" type="submit">Login</button>
		<br></br>
		<br></br>
		<br></br>
		<a th:text="#{button.signup}" href="/signup"></a>
	</form>
	<br></br>
	<div>
        <p th:if="${param.logout}" th:text="#{logout.success}" class="success"></p>
    	<p th:if="${param.error}" th:text="#{login.error}" class="error"></p>
   	    <p th:if="${notification != null}" th:text="#{${notification.message}}" th:class="${notification.type}"></p>
	</div> 

</body>
</html>