<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
      
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<h1>Registration</h1>
	<br></br>
	<form th:action="@{/signup/regUser}" th:object="${registerForm}" method="POST">
		<div>
			Please give an email and a password
			<br></br>
			<br></br>
			<div>
				<input type="text" th:placeholder="'Email address'" th:field="*{email}" required="true"/>
				<br></br>
				<br></br>
				<input type="password" th:placeholder="Password" th:field="*{password}" required="true"/>
				<br></br>
				<br></br>
				<input type="password" th:placeholder="'Type password again'" th:field="*{passwordConfirm}" required="true"/>
				<div>
					<p class="error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Errors</p>
				</div>
			</div>
			<br></br>
			<br></br>
		</div>
		<button style="height: 50px; width: 100px" type="submit">Sign Up!</button>
		<a href="/">Main page</a>
	</form>

</body>
</html>