<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">

<head th:replace="login :: header"></head>

<body>
	<div class="container">
		<h1 th:text="#{users.header}">Users</h1>
		<a th:text="#{button.lockers}" href="/lockers" class="btn btn-info"></a>
		<br></br>
		<br></br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th th:text="#{table.header.user-id}"></th>
					<th th:text="#{table.header.user-email}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td class="idColumn" th:text="${user.id}">User identifier</td>
					<td th:text="${user.email}">Email</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>
