<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<h1 th:text="#{users.header}">Users</h1>
	<a th:text="#{button.lockers}" href="/lockers"></a>
    <br></br>
    <br></br>
	<table>
		<tr>
			<th th:text="#{table.header.user-id}"></th>
			<th th:text="#{table.header.user-email}"></th>
		</tr>
		<tr th:each="user : ${users}">
			<td class="idColumn" th:text="${user.id}">User identifier</td>
			<td th:text="${user.email}">Email</td>
		</tr>
	</table>
</body>
</html>