#loginButton {
	margin-right: 30px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

h2 {
	padding-top: 20px;
}

.form-control {
	max-width: 500px;
}

#exceptionText {
	margin-top: 20px;
}

#lockerHeaderButtonsRow {
	margin-bottom: 20px;
}
